<ul class="thumbnails">
	<li class="span4">
    	<div href="#" class="thumbnail">			
			<img src="/assets/mcd.png" alt="">
			<h5>Mc Donald</h5>
			<p>Best place to eat in town, we provide fresh bun and patties</p>
			<p>
				<a href="#" class="btn btn-primary">See menu</a>
			</p>
	    </div>
	</li>
	<li class="span4">
    	<div href="#" class="thumbnail">			
			<img src="/assets/KFC.png" alt="">
			<h5>Mc Donald</h5>
			<p>Best place to eat in town, we provide fresh bun and patties</p>
			<p>
				<a href="#" class="btn btn-primary">See menu</a>
			</p>
	    </div> 
	</li>
	<li class="span4">
    	<div href="#" class="thumbnail">			
			<img src="/assets/yoshinoya.png" alt="">
			<h5>Mc Donald</h5>
			<p>Best place to eat in town, we provide fresh bun and patties</p>
			<p>
				<a href="#" class="btn btn-primary">See menu</a>
			</p>
	    </div>
	</li>

</ul>

	



	
